.input {
    background-color: ghostwhite;
    display: flex;
    flex-direction: column;
    padding: 32px 0;
}

.inputbox {
    width: 80;
    display: flex;
    align-self: center;
    justify-content: space-between;
}

#input {
    width: 70;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid skyblue;
}

#add-button {
    width: 20;
    background: skyblue;
    border-radius: 4;
    border: 1px solid #3f7ab5;
    color: #1f4078;
}

#delete-button {
    width: 20;
    background: skyblue;
    border-radius: 4;
    border: 1px solid #3f7ab5;
    color: #1f4078;
}

.Todayworklistbox {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    align-self: center;
    border-radius: 4px;
    border: 1px solid #3f7ab5;
    background-color: ghostwhite;
}

h1 {
    padding: 16;
    margin: 0;
    font-size: 12;
    border-bottom: 1px solid ghostwhite;
}

#todayworklist {
    margin: 32px 0;
}

#list {
    margin-right: 32px;
    padding: 16px 0;
    font-size: 14px;
}

/* backgorund-color: 배경색 변경
display: 요소들 중앙에 두는 데 편함
flex-directon: column 요소들 수직으로 쌓이게 해줌
padding: 위아래 여백
width: 넓이 설정
algin-self: 콘텐츠 정렬
justify-content: 자식 요소들 거리 두기
border-radius: 모서리 둥글게
border: 경계선
color: 색
margin-top: 위에 여백 설정
margin: 여백 설정
font-size: 폰트 사이즈 설정 */
